body {
	height: 100%;
	min-height: 100vh;
}
#__next {
	height: 100%;
}
a {
	text-decoration: none;
	&:hover {
		color: #df4444;
	}
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0A1931;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #232323;
	border-radius: 10px;
}
small {
	font-size: 12px;
}