@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');
body {
	height: 100%;
	min-height: 100vh;
	font-family: 'Roboto', sans-serif;
	background: url(/images/background.png) no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
#__next {
	height: 100%;
}
a {
	text-decoration: none;
	&:hover {
		color: #df4444;
	}
}

small {
	font-size: 12px;
}
.giftbox {
	&:hover {
		animation: giftbox 1s infinite;
	}
}
@keyframes giftbox {
	0% {
		transform: rotate(0deg);
	}
	20% {
		transform: rotate(15deg);
	}
	40% {
		transform: rotate(0deg);
	}
	60% {
		transform: rotate(-15deg);
	}
	80% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}
}