@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600&display=swap');
body {
	height: 100%;
	min-height: 100vh;
}
#__next {
	height: 100%;
}
a {
	text-decoration: none;
	&:hover {
		color: #df4444;
	}
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #767676;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #767676;
	border-radius: 10px;
}
small {
	font-size: 12px;
}
.dropzone {
  text-align: center;
  padding: 20px;
  border: 3px dashed #eeeeee;
  background-color: #fafafa;
  color: #bdbdbd;
  margin-bottom: 20px;
}