.box {
  padding: 20px 10px;
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.1);
  height: 120px;
  border-radius: 10px;
  color: #fff;
  &.green {
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  }
  &.blue {
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  }
  &.orange {
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  }
  &.red {
    background: linear-gradient(to right, #f85032, #e73827);  
  }
  margin-bottom: 30px;
}
.process {
  background-color: rgba($color: #000000, $alpha: 0.2);
  border-radius: 5px;
  height: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  .processBar {
    height: 5px;
    border-radius: 5px;
    background-color: #fff;
  }
}